body{
    background-color: #E3E3E3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    z-index: 0;
}
footer {
    position: fixed;
    font-size: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: #E3E3E3;
    color: #151515;
    text-align: center;
}
button {
    background-color: #f3f3f3;
    padding: 6px;
    border: 0px;
}
button:hover {
    background-color: #68B2FF;
    color: #e3e3e3;
    cursor: pointer;
    padding: 6px;
    border: 0px;
}
input[type=text], 
input[type=date], 
input[type=email], 
input[type=password], 
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #F3F3F3;

  }

span {
    margin-left: 2px;
    margin-right: 2px;
    
}
a {
    text-decoration: none;
    color:#151515;
}
p{
    color: #151515
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #E3E3E3;

}
/*Adjustem el wrapper de l'aplicació de manera responsiva depenent de l'ample de la finestra*/
@media screen and (max-width: 992px) {
    .wrapper {
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 80%;
    }
}
@media screen and (max-width: 576px) {
    .wrapper {
        width: 90%;
    }
}

  
.navigationMenu {
    display: flex;
}
.navigationMenu > div {
    padding: 10px;
    background-color: #F3F3F3;
}
/* Background per als elements parells*/
.navigationMenu > div:nth-child(even) {
    background-color: #F3F3F3;
}
/* Background per als elements imparells*/
.navigationMenu > div:nth-child(odd) {
    background-color: #E3E3E3;
}
.navigationMenu > div:hover {
    background-color: #68B2FF;
    color: #F3F3F3;
}
.navigationMenu > div > a{
    width: 100%;
    display: block;
}
.navigationMenu > div:hover > a{
    color: #F3F3F3;
}

div.commerceList {
    position:absolute;
    z-index: 5;
}
.commerceList > div {
    padding: 8px;
}

.commerceList {
    width: max-content;
}
/* Background per als elements parells*/
.commerceList > div:nth-child(even) {
    background-color: #F3F3F3;
}
/* Background per als elements imparells*/
.commerceList > div:nth-child(odd) {
    background-color: #E3E3E3;
}
.commerceList > div:hover {
    background-color: #68B2FF;
}
.commerceList > div > a{
    width: 100%;
    display: block;
}
.commerceList > div:hover > a{
    color: #F3F3F3;
}

.dishList {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.dishList > li {
    display: flex;
    padding: 17px;
}
/* Background per als elements parells*/
.dishList > li:nth-child(even) {
    background-color: #F3F3F3;
}
/* Background per als elements imparells*/
.dishList > li:nth-child(odd) {
    background-color: #E3E3E3;
}
.dishList > li:hover {
    background-color: #68B2FF;
}
/* Dish name*/
.dishList > li > div:nth-child(1){
    width: 70%;
}
.dishList > li > div:nth-child(2){
    width: 10%;
    text-align: right;
    margin-right: 10px;
}
.dishList > li > div:nth-child(3){
    width: 10%;
    margin-right: 10px;
    display: flex;

}



.dishList > li > div > a{
    width: 100%;
    display: block;
}
.dishList > li:hover > div > a{
    color: #F3F3F3;
}

.content > .commerceList {
    width: 100%;
    list-style: none;
    padding: 0px;
}
.content > .commerceList > li {
    text-decoration: none;
    padding: 10px;
}
/* Background per als elements parells*/
.content > .commerceList > li:nth-child(even) {
    background-color: #F3F3F3;
}
/* Background per als elements imparells*/
.content > .commerceList > li:nth-child(odd) {
    background-color: #E3E3E3;
}
.content > .commerceList > li:hover {
    background-color: #68B2FF;
}
.content > .commerceList > li > a{
    width: 100%;
    display: block;
}
.content > .commerceList > li:hover > a{
    color: #F3F3F3;
}

.dishDetail {
    display: flex;
}

.dishDetail > div{
    width: 50%;
}

.dishDetail > div:nth-child(2) {
    font-size: 14px;
    margin-top: 21px;
    text-align: justify;
}
.dishDetail > div > .bottom {
    display: flex;
    float: right;
    margin-right: 5%;
}


.price {
    text-align: right;
    font-size: 14px;
    font-size: 40px;
    color: #68B2FF;
    text-align: right;
    
}
.dishDetail > div > .bottom > div{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
.dishDetail > div > img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 10%;
}

/* Aquest codi l'utilitzem per a adaptar el vídeo al contenidor*/
.video-container video,
.video-container iframe,
.video-container object,
.video-container embed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
form {
    margin-left: auto;
margin-right: auto;
width: 90%;
}
.formItem {
    margin: 8px;
}
.formItem > div {
    display: flex;
}
.formItem > div > div:nth-child(1){
    width: 30%;
}
.formItem > div > div:nth-child(2){
    width: 45%;
}
.formItem > div > div:nth-child(2) > input{
    width: 100%
}
.formItem > div > div > label{
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-right: 15px;
    
}

.formCheck > div:nth-child(1){
    margin-left: 20%;
}

.buttonContainer {
    padding-left: 65%;
}

.indexContent {
    text-align: center;
}
/* Text sobre el vídeo en la landing */
.indexContent > div > div:nth-child(2){
    position: sticky;
    margin-top: -48%;
}

.promotionTitle {
    color: #007CFF;
}

.promotionDesc {
    color: #f3f3f3;
    width: 70%;
    margin-left: 15%;
}
.promotionDesc > span.highlight {
    font-size: 18px;
    font-style: bold;
}
.promotionDesc > span.lowlight {
    font-size: 12px;
    font-style: italic;
}
.caption {
    font-size: 10px;
    text-align: right;
    margin-right: 26%;
}
.error{
    color: #be3232;
}
.success{
    color: #48a048;
}
.warning {
    color: #e2a807;
}
.icon {
    width: 30px;
}
.iconContainer {
    margin-top: -6px;
    margin-bottom: -10px;
}
/* Responsive per ample inferior a 720px*/

@media (max-width: 720px) {
    /* Dish name*/
    .dishList > li > div:nth-child(1){
        width: 50%;
    }
    .dishList > li > div:nth-child(2){
        width: 13%;
        text-align: right;
        margin-right: 15px;
    }
    .dishList > li > div:nth-child(3){
        width: 13%;
        margin-right: 15px;
        display: flex;

    }
}

/* Responsive per ample inferior a 576px*/
@media (max-width: 576px) {
    /* Dish name*/
    .dishList > li > div:nth-child(1){
        width: 60%;
    }
    .dishList > li > div:nth-child(2){
        width: 13%;
        text-align: right;
        margin-right: 15px;
    }
    .dishList > li > div:nth-child(3){
        width: 13%;
        margin-right: 15px;
        display: flex;

    }
}